<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 12-31-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
-->
<template>
    <div>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                    <div id="box" class={boxClass} aria-expanded="true" aria-haspopup="listbox" role="combobox">
                        <div class="slds-input-has-icon slds-input-has-icon_right" role="none">
                             <template if:true={isValueSelected}>
                                <div id="lookup-pill" class="slds-pill-container">
                                    <p> <abbr class="slds-required">*</abbr>{label}</p>
                                    <lightning-pill label={selectedName} name={selectedName} onremove={handleRemovePill} href={href}>
                                        <lightning-icon icon-name={iconName} alternative-text="acc"></lightning-icon>
                                    </lightning-pill>
                                </div>
                            </template> 
                            <template if:false={isValueSelected}>
                                <div class="slds-p-top_none">
                                    <abbr class="slds-required">*</abbr>{label}
                                    <lightning-input class={inputClass} type="search" id="input" onblur={onBlur} value={searchTerm} onclick={handleClick} onchange={onChange} autocomplete="off" variant="label-hidden" placeholder={searchPlaceholder}>
                                    </lightning-input>
                                </div>
                            </template>
                        </div>
                        <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox" style="max-height: 150px;">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <template for:each={records} for:item="record">
                                    <li key={record.recId} onclick={onSelect} data-id={record.recId} role="presentation" data-name={record.recName}>
                                        <span class="slds-lookup__item-action slds-lookup__item-action--label" role="option">
                                            <lightning-icon class="slds-icon slds-icon--small slds-icon-text-default" icon-name={iconName} alternative-text={objName} size="small"></lightning-icon>
                                            <span class="slds-truncate">{record.recName}</span>
                                        </span>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>