<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 12-31-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
-->
<template>
    <c-lookup obj-name={objectName}
                         icon-name="standard:contact" 
                        onlookupselected={handleAccountSelection} > </c-lookup>
</template>